.app {
  display: flex;
  flex-direction: column;
  /* width: 100%;
  background-color: #edecf3;
  height: 100vw;
  border-radius: 20px;
  padding: 100px;
  display: flex;
  flex-direction: row; */
}
.navigation-wrapper {
  background-color: #3642ec;
  border-radius: 10px;
  width: 60%;
  display: flex;
  align-self: center;
  margin: 30px;
}
.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app-link {
  width: 200px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300px;
}
.app-link:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.active-link {
  background-color: #565fd8;
}
